
body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    color:black;
}

h2 {
    align-items: center;
}

/*Header part*/
header {
    position: fixed;
    z-index: 1;
    color: gray;
    background-color: white;
    display: inline;
    width: 100%;
    height: 64px;
    margin: 0;
    font-size: 20px;
}
header img {
    width: 60px;
    padding-top: 10px;
    padding-left: 10px;
}

figcaption {
    display: inline;
    padding-right: 818px;
    font-size: 18px;  
}

header nav {
    display: inline-block;
    float: right;
    padding-top: 20px;
    padding-right: 24px;
}

nav a {
    padding-left: 16px;
    padding-right: 24px;
}

.icons img {
    display: none;
}


/*banner part*/


.banner {
    background-color: rgb(177, 171, 171);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.banner img {
    width: 60%;
    height: 40%;
    padding: 96px 24px 32px 24px;
    vertical-align: middle;
}

.banner .text {
    vertical-align: left;
    display: inline-block;
    padding-top: 270px;
    font-size: 18px;
}

button {
  border: 1px solid gray;
  background-color: gray;
  padding: 10px 120px 10px 120px;
  color: white;
  font-family: "Garamond", "Times", sans-serif;
  font-size: 26px;
  float: left;
  margin-left: 24px;
}

.text h1 {
    width: 80%;
    text-align: left;
    font-size: 40px;
    padding-left: 24px;
}

.text h3 {
    padding-left: 24px;
    width: 60%;
    text-align: left;
    color: rgb(80, 75, 75);
}

/*information part*/
    

.information {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;  
    padding-bottom: 0;
}

#main {
    margin: 0; 
    width: 74%;
}

#main img {
    width: 93%;
    padding: 32px 24px 32px 24px;
    vertical-align: middle;
    margin-bottom: 0;
}

#main .main-text {
    padding: 0px 24px 0px 24px;
    vertical-align: middle;
    font-weight: bold;
    width: 93%;
    margin-top: 0;
    font-size: 20px;
}
.main-text h3{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}

.main-text h6 {
    margin: 0;
    color: rgb(80, 75, 75);
    padding-bottom: 32px;
}

#sidebar-main {
    width: 40%;
    margin: 0;
}

#sidebar-main img {
    height: auto;
    width: 35%;
    padding: 32px 16px 16px 16px;
}

#siderbar-textm {
    float: right;
    width: 58%;
    margin: 0;
}
#siderbar-textm h5 {
    margin: 0;
    color:rgb(80, 75, 75);
    padding-left: 16px;
    padding-bottom: 0;
}

#siderbar-textm h3 {
    margin: 0;
    padding-top: 70px;
}

#guest {
    background-color: rgb(177, 171, 171);;
}

nav a {
    padding-left: 0;
}


/*Courses part*/
.courses {
    background-color: rgb(219, 211, 211);
    text-align: center;
}

.courses h2{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
}
#container-courses {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 0 40px 0 40px;
}

 img {
    height: auto;
    width: 400px;
    margin: 0;
}

h3 {
    font-size: 24px;
    color: black;
    margin: 0;
    padding: 16px;
}

p {
    font-size: 20px;
    margin: 0;
    padding-top: 8px;
    padding-left: 16px;
}

h3, p {
    padding-left: 16px;
   
}
.art {
    justify-content: center;
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}

.software {
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}

.design {
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}

.data {
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}

.business {
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}
.marketing {
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    flex-basis: 280px;
    text-align: left;
    background-color: lavender;
    margin-bottom: 32px;
    padding-bottom: 24px
}


/*Exhibit part*/

h2 {
    text-align: center;
    margin: 0;
    padding-top: 32px;
}

.exhibit {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-bottom: 32px;
}

.video {
    margin: 0; 
    width: 78%;
    padding: 0;
}

.video video {
    width: 93%;
    vertical-align: middle;
    margin: 0;
    padding: 30px 24px 24px 24px;
}

.video .video-text {
    
    margin: 0;
    width: 93%;
    padding-left: 9px;
}

.video-text h3 {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.sidebar-exhibit {
    margin: 0;
    width: 42%;
    padding-top: 24px;
}

#fisma {
    background-color:rgb(177, 171, 171);
}

.sidebar-exhibit img {
    padding: 16px;
    height: auto;
    width: 35%;
}

#sidebar-text {
    float: right;
    width: 58%;
    margin: 0;
    padding-top: 40px;
}


/*footer part*/
footer{
    border: 2px solid gray;
    background-color: white;
    width: 100%;
    height: 64px;
    margin: 0;
    font-size: 16px;
}

footer span {
    display: inline-block;
    float: right;
    font-size: 22px;
    padding-right: 24px;
    padding-top: 16px;
    color: blue;
}

footer p { 
    display: inline-block;
    padding-right: 24px;
    padding-top: 16px;
}

@media screen and (max-width: 480px) {



/*Header part*/

figcaption {
    display: none;
}

.icons a {
    padding-right: 0;
    display: none;
}

.icons img {
    display: inline;
    width: 40px;
    padding: 0;
    margin-left: 64px;
    margin-right: 32px;

}

/*banner part*/
    .banner {
        display: inline-block;
        width: 500px;
    }
    
    .banner .text {
        vertical-align: center;
        display: inline;
        margin: 0;
    }

    .banner img {
        width: 100%;
        padding: 64px 0px 32px 0px;
    }

    .text h1 {
        width: 100%;
        padding-left: 16px;
        padding-top: 0;
        margin: 0;
    }

    .text h3 {
        width: 70%;
        padding: 32px 0px 24px 16px;
    }
    button {
        width: 93%;
        margin: 0px 16px 32px 16px;
    }

/*information part*/

    #main {
        display: none;
    }

    #sidebar-main {
        width: 100%;
    }

    #sidebar-main img {
        width: 97%;
        padding: 16px;
        height: fit-content;
    }

    #siderbar-textm {
        width: 100%;
        float: none;
        font-size: 22px;
    }

    #siderbar-textm h3 {
        padding: 16px;
    }

    #guest {
        background-color: white;
    }

/*Courses part*/

    .courses {
        background-color: white;
        border: 1px solid gray;
        margin-top: 32px;
        width: 500px;
        padding-bottom: 24px;
    }

    #container-courses img, #container-courses p {
        display: none;
    }

    #container-courses {
        display: inline;
        padding: 0;
    }

    .courses h2 {
        padding-bottom: 16px;
    }

    .software, .art, .design, .data, .business, .marketing {
        width: 93%;
        padding: 0;
        margin: 0 16px 8px 16px;
    }

    #container-courses h3 {
        padding: 16px 0 24px 16px;
    }

    /*Exhibit part*/

    .video .video-text, .sidebar-exhibit {
        display: none;
    }

    .exhibit {
        width: 500px;
        display: inline;
    }

    .video video {
        width: 500px;
        margin: 0;
        padding: 16px 0 24px 0;
    }

    /*footer part*/
     footer {
         border: none;
         height: 0%;
         padding-bottom: 16px;
     }

     footer span {
         display: none;
     }


}
